language: java
matrix:
  include:
    - jdk: openjdk11

script: >-
    ./config/travis/run-checks.sh &&
    ./gradlew --stacktrace clean checkstyleMain checkstyleTest test coverage coveralls asciidoctor

deploy:
  skip_cleanup: true
  provider: script
  script: ./config/travis/deploy_github_pages.sh
  on:
    branch: master

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

after_failure:
  -cat file:///home/travis/build/AY1920S1-CS2103T-T09-1/main/build/reports/tests/test/index.html -./travis-tool.sh dump_logs

