#filterField, #logEntryListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#incomeEntryTypeCol {
    -fx-background-color: rgba(186, 37, 20, 0.74);
}

#spendEntryTypeCol {
    -fx-background-color: rgba(12, 164, 60, 0.74);
}

#borrowEntryTypeCol {
    -fx-background-color: rgba(186, 108, 18, 0.74);
}

#lendEntryTypeCol {
    -fx-background-color: rgba(102, 102, 153, 0.74);
}

.entry_type_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
    -fx-padding: 15;
}

.transaction_method_label {
    -fx-text-fill: black !important;
    -fx-border-color: black;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.borrow_status_label {
    -fx-text-fill: black !important;
    -fx-background-color: #ff9999;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.lend_status_label {
    -fx-text-fill: black !important;
    -fx-background-color: #ffcccc;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#cats {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#cats .label {
    -fx-text-fill: white !important;
    -fx-background-color: #666699;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#pieChart .label {
    -fx-text-fill: black;
}

#barChart .label {
    -fx-text-fill: black;
}

.budget-inactive-label {
    -fx-text-fill: black !important;
    -fx-border-color: black;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.budget-ended-label {
    -fx-text-fill: rgba(125,119,107,0.74) !important;
    -fx-border-color: rgba(125,119,107,0.74);
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.budget-active-label {
    -fx-text-fill: black !important;
    -fx-background-color: #ff9999;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.budget-exceeded-label {
    -fx-text-fill: white !important;
    -fx-background-color: rgba(186, 37, 20, 0.74);
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.budget-ended-exceeded-label {
    -fx-text-fill: white !important;
    -fx-background-color: grey;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.budget-ended-big-label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 18px;
    -fx-text-fill: rgba(125,119,107,0.74) !important;
}

.budget-ended-small-label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: rgba(125,119,107,0.74) !important;
}

.budget-cat-label {
    -fx-text-fill: white !important;
    -fx-background-color: #666699;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.budget-ended-cat-label {
    -fx-text-fill: white !important;
    -fx-background-color: rgba(125,119,107,0.74);
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.budget-ended-met-label {
    -fx-text-fill: rgba(125,119,107,0.74) !important;
    -fx-border-color: rgba(125,119,107,0.74);
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.list-cell, #spendCardPane, #incomeCardPane, #borrowCardPane, #lendCardPane, #budgetCardPane {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

#spendCardPane, #incomeCardPane, #borrowCardPane, #lendCardPane, #budgetCardPane {
    -fx-background-color: derive(#e1e1e1, 20%);
    -fx-border-width: 0;
}

.list-cell:filled:odd #spendCardPane {
    -fx-background-color: derive(#b2b2b2, 20%);
}

.list-cell:filled:odd #incomeCardPane {
    -fx-background-color: derive(#b2b2b2, 20%);
}

.list-cell:filled:odd #borrowCardPane {
    -fx-background-color: derive(#b2b2b2, 20%);
}

.list-cell:filled:odd #lendCardPane {
    -fx-background-color: derive(#b2b2b2, 20%);
}

.list-cell:filled:odd #budgetCardPane {
    -fx-background-color: derive(#b2b2b2, 20%);
}

.list-cell:filled:selected #spendCardPane {
    -fx-background-color: derive(white, 20%);
    -fx-border-color: derive(black, 20%);
    -fx-border-width: 1;
}

.list-cell:filled:selected #incomeCardPane {
    -fx-background-color: derive(white, 20%);
    -fx-border-color: derive(black, 20%);
    -fx-border-width: 1;
}

.list-cell:filled:selected #borrowCardPane {
    -fx-background-color: derive(white, 20%);
    -fx-border-color: derive(black, 20%);
    -fx-border-width: 1;
}

.list-cell:filled:selected #lendCardPane {
    -fx-background-color: derive(white, 20%);
    -fx-border-color: derive(black, 20%);
    -fx-border-width: 1;
}

.list-cell:filled:selected #budgetCardPane {
    -fx-border-color: derive(black, 20%);
    -fx-border-width: 1;
}
