#filterField, #logEntryListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#incomeEntryTypeCol {
    -fx-background-color: rgba(186, 37, 20, 0.74);
}

#spendEntryTypeCol {
    -fx-background-color: rgba(12, 164, 60, 0.74);
}

#borrowEntryTypeCol {
    -fx-background-color: rgba(186, 108, 18, 0.74);
}

#lendEntryTypeCol {
    -fx-background-color: rgba(102, 102, 153, 0.74);
}

.entry_type_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
    -fx-padding: 15;
}

.transaction_method_label {
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.borrow_status_label {
    -fx-text-fill: black !important;
    -fx-background-color: #ff9999;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.lend_status_label {
    -fx-text-fill: black !important;
    -fx-background-color: #ffcccc;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#cats {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#cats .label {
    -fx-text-fill: white;
    -fx-background-color: #666699;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#pieChart .label {
    -fx-text-fill: black;
}

#barChart .label {
    -fx-text-fill: black;
}
