.Sidebar {
    -fx-background-color: linear-gradient(to right, rgba(233, 233, 233, 0.5), rgba(233, 233, 233, 0.3));
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 0;
}

.Sidebar .button {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.Sidebar:hover {
    -fx-background-color: linear-gradient(to right, rgba(244, 244, 244, 0.8), rgba(244, 244, 244, 0.5));
}
