.diaryTextLine {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}