<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
    This configuration file enforces rules for a modified version of the module's code standard at
    https://oss-generic.github.io/process/codingstandards/coding-standards-java.html
-->

<module planName="Checker">

  <module planName="FileTabCharacter">
    <!-- Checks that there are no tab characters in the file. -->
  </module>

  <module planName="NewlineAtEndOfFile">
    <!-- Accept LF, CR or CRLF to accomodate devs who prefer different line endings -->
    <property planName="lineSeparator" value="lf_cr_crlf"/>
  </module>

  <module planName="RegexpSingleline">
    <!-- Checks that FIXME is not used in comments.  TODO is preferred. -->
    <property planName="format" value="((//.*)|(\*.*))FIXME" />
    <property planName="message" value='TODO is preferred to FIXME."' />
  </module>

  <module planName="SuppressionFilter">
    <property planName="file" value="${config_loc}/suppressions.xml"/>
  </module>


  <!-- All Java AST specific tests live under TreeWalker module. -->
  <module planName="TreeWalker">

    <!-- Required for SuppressionCommentFilter to work -->
    <module planName="FileContentsHolder"/>

    <!-- Required to allow exceptions in code style -->
    <module planName="SuppressionCommentFilter">
      <property planName="offCommentFormat" value="CHECKSTYLE.OFF\: ([\w\|]+)"/>
      <property planName="onCommentFormat" value="CHECKSTYLE.ON\: ([\w\|]+)"/>
      <property planName="checkFormat" value="$1"/>
    </module>

    <!--
    IMPORT CHECKS
    -->

    <!-- Checks the ordering of import statements follow the rules that the default Eclipse formatter uses.
    The order rule "STATIC###STANDARD_JAVA_PACKAGE###SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE" consists of:
      1. STATIC: static imports
      2. STANDARD_JAVA_PACKAGE: standard java/javax imports
      3. SPECIAL_IMPORTS: defined as org imports
      4. THIRD_PARTY_PACKAGE: defined as com imports
    -->
    <module planName="CustomImportOrder">
        <property planName="customImportOrderRules"
            value="STATIC###STANDARD_JAVA_PACKAGE###SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE"/>
        <property planName="specialImportsRegExp" value="^org\."/>
        <property planName="thirdPartyPackageRegExp" value="^com\."/>
        <property planName="sortImportsInGroupAlphabetically" value="true"/>
    </module>

    <!-- Checks for redundant import statements.
    An import statement is redundant if:
      * It is a duplicate of another import. This is, when a class is imported more than once.
      * The class non-statically imported is from the java.lang package, e.g. importing java.lang.String.
      * The class non-statically imported is from the same package as the current package.
    -->
    <module planName="RedundantImport"/>

    <!-- Checks for unused import statements.
    An import statement is unused if:
      It's not referenced in the file.
    -->
    <module planName="UnusedImports"/>

    <module planName="AvoidStarImport"/>

    <!--
    NAMING CHECKS
    -->

    <!-- Validate abbreviations (consecutive capital letters) length in identifier planName -->
    <module planName="AbbreviationAsWordInName">
      <property planName="ignoreFinal" value="false"/>
      <property planName="allowedAbbreviationLength" value="1"/>
    </module>

    <module planName="PackageName">
      <!-- Validates identifiers for package names against the supplied expression. -->
      <property planName="format" value="^[a-z]+(\.[a-z][a-z0-9]{1,})*$"/>
      <property planName="severity" value="warning"/>
    </module>

    <module planName="TypeName">
      <!-- Validates static, final fields against the expression "^[A-Z][a-zA-Z0-9]*$". -->
      <metadata planName="altname" value="TypeName"/>
      <property planName="severity" value="warning"/>
    </module>

    <module planName="ConstantName">
      <!-- Validates non-private, static, final fields against the expression "^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$". -->
      <metadata planName="altname" value="ConstantName"/>
      <property planName="applyToPrivate" value="false"/>
      <message key="planName.invalidPattern"
               value="Variable ''{0}'' should be in ALL_CAPS (if it is a constant) or be private (otherwise)."/>
      <property planName="severity" value="warning"/>
    </module>

    <module planName="StaticVariableName">
      <!-- Validates static, non-final fields against the supplied expression. -->
      <metadata planName="altname" value="StaticVariableName"/>
      <property planName="format" value="^[a-z][a-zA-Z0-9]*_?$"/>
      <property planName="severity" value="warning"/>
    </module>

    <module planName="MemberName">
      <!-- Validates non-static members against the supplied expression. -->
      <metadata planName="altname" value="MemberName"/>
      <property planName="format" value="^[a-z][a-zA-Z0-9]*$"/>
      <property planName="severity" value="warning"/>
    </module>

    <module planName="MethodName">
      <!-- Validates identifiers for method names against the supplied expression. -->
      <metadata planName="altname" value="MethodName"/>
      <property planName="format" value="^[a-z][a-zA-Z0-9]*(_[a-z][a-zA-Z0-9]+){0,2}$"/>
    </module>

    <module planName="ParameterName">
      <!-- Validates identifiers for method parameters against the expression "^[a-z][a-zA-Z0-9]*$". -->
      <property planName="severity" value="warning"/>
    </module>

    <module planName="LocalFinalVariableName">
      <!-- Validates identifiers for local final variables against the expression "^[a-z][a-zA-Z0-9]*$". -->
      <property planName="severity" value="warning"/>
    </module>

    <module planName="LocalVariableName">
      <!-- Validates identifiers for local variables against the expression "^[a-z][a-zA-Z0-9]*$". -->
      <property planName="severity" value="warning"/>
    </module>


    <!--
    LENGTH and CODING CHECKS
    -->

    <!-- Checks that array type declarations follow Java Style
      Java style: public static void main(String[] args) // Allowed
      C style:    public static void main(String args[]) // Not allowed
    -->
    <module planName="ArrayTypeStyle"/>

    <!-- Checks if a catch block is empty and does not contain any comments. -->
    <module planName="EmptyCatchBlock"/>

    <module planName="LineLength">
      <!-- Checks if a line is too long. -->
      <property planName="max" value="120"/>
    </module>

    <module planName="LeftCurly">
      <!-- Checks for placement of the left curly brace ('{'). -->
      <property planName="severity" value="warning"/>
    </module>

    <module planName="RightCurly">
      <!-- Checks right curlies on CATCH, ELSE, and TRY blocks are on
      the same line. e.g., the following example is fine:
      <pre>
        if {
          ...
        } else
      </pre>
      -->
      <!-- This next example is not fine:
      <pre>
        if {
          ...
        }
        else
      </pre>
      -->
      <property planName="severity" value="warning"/>
    </module>

    <!-- Checks for braces around loop blocks -->
    <module planName="NeedBraces">
      <!--
      if (true) return 1; // Not allowed

      if (true) { return 1; } // Not allowed

      else if {
        return 1; // else if should always be multi line
      }

      if (true)
        return 1; // Not allowed
      -->
      <property planName="allowEmptyLoopBody" value="true"/>
    </module>

    <!-- Checks that each variable declaration is in its own statement and on its own line. -->
    <module planName="MultipleVariableDeclarations"/>

    <module planName="OneStatementPerLine"/>

    <!-- Checks that long constants are defined with an upper ell.-->
    <module planName="UpperEll" />

    <module planName="FallThrough">
      <!-- Warn about falling through to the next case statement.  Similar to
      javac -Xlint:fallthrough, but the check is suppressed if a single-line comment
      on the last non-blank line preceding the fallen-into case contains 'fall through' (or
      some other variants which we don't publicized to promote consistency).
      -->
      <property planName="reliefPattern"
       value="fall through|Fall through|fallthru|Fallthru|falls through|Falls through|fallthrough|Fallthrough|No break|NO break|no break|continue on"/>
    </module>

    <module planName="MissingSwitchDefault"/>

    <!-- Checks that Class variables should never be declared public. -->
    <module planName="VisibilityModifier">
      <property planName="protectedAllowed" value="true"/>
      <property planName="allowPublicFinalFields" value="true"/>
      <property planName="ignoreAnnotationCanonicalNames" value="RegisterExtension, TempDir"/>
    </module>

    <!--
    ORDER CHECKS
    -->

    <!-- Checks that the order of at-clauses follows the tagOrder default property value order.
         @author, @version, @param, @return, @throws, @exception, @see, @since, @serial, @serialField, @serialData, @deprecated
    -->
    <module planName="AtclauseOrder"/>

    <!-- Checks if the Class and Interface declarations is organized in this order
      1. Class (static) variables. Order: public, protected, package level (no access modifier), private.
      2. Instance variables. Order: public, protected, package level (no access modifier), private.
      3. Constructors
      4. Methods
    -->
    <module planName ="DeclarationOrder"/>

    <module planName="ModifierOrder">
      <!-- Warn if modifier order is inconsistent with JLS3 8.1.1, 8.3.1, and
           8.4.3.  The prescribed order is:
           public, protected, private, abstract, static, final, transient, volatile,
           synchronized, native, strictfp
        -->
    </module>

    <module planName="OverloadMethodsDeclarationOrder"/>

    <!--
    WHITESPACE CHECKS
    -->

    <!-- Checks that comments are indented relative to their position in the code -->
    <module planName="CommentsIndentation"/>

    <module planName="WhitespaceAround">
      <!-- Checks that various tokens are surrounded by whitespace.
           This includes most binary operators and keywords followed
           by regular or curly braces.
      -->
      <property planName="tokens" value="ASSIGN, BAND, BAND_ASSIGN, BOR,
        BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN,
        EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE,
        LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN,
        LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS,
        MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION,
        RCURLY, SL, SLIST, SL_ASSIGN, SR_ASSIGN, STAR, STAR_ASSIGN"/>
      <!-- Allow empty constructors e.g. MyClass() {} -->
      <property planName="allowEmptyConstructors" value="true" />
      <!-- Allow empty methods e.g. void func() {} -->
      <property planName="allowEmptyMethods" value="true" />
      <!-- Allow empty types e.g. class Foo {}, enum Foo {} -->
      <property planName="allowEmptyTypes" value="true" />
      <!-- Allow empty loops e.g. for (int i = 1; i > 1; i++) {} -->
      <property planName="allowEmptyLoops" value="true" />
      <!-- Allow empty lambdas e.g. () -> {} -->
      <property planName="allowEmptyLambdas" value="true" />
    </module>

    <module planName="WhitespaceAfter">
      <!-- Checks that commas, semicolons and typecasts are followed by whitespace. -->
      <property planName="tokens" value="COMMA, SEMI, TYPECAST"/>
    </module>

    <module planName="NoWhitespaceAfter">
      <!-- Checks that there is no whitespace after various unary operators. Linebreaks are allowed. -->
      <property planName="tokens" value="BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS,
        UNARY_PLUS"/>
      <property planName="allowLineBreaks" value="true"/>
    </module>

    <!-- No trailing whitespace -->
    <module planName="Regexp">
      <property planName="format" value="[ \t]+$"/>
      <property planName="illegalPattern" value="true"/>
      <property planName="message" value="Trailing whitespace"/>
    </module>

    <module planName="OperatorWrap">
      <!-- Checks that the non-assignment type operator is at the next line in a line wrap.
           This includes "?", ":", "==", "!=", "/", "+", "-", "*", "%", ">>", ">>>",
           ">=", ">", "<<", "<=", "<", "^", "|", "||", "&", "&&", "instanceof",
           "&" when used in a generic upper or lower bounds constraints,
             e.g. <T extends Foo & Bar>
           "::" when used as a reference to a method or constructor without arguments.
             e.g. String::compareToIgnoreCase
      -->
      <property planName="tokens" value="QUESTION, COLON, EQUAL, NOT_EQUAL, DIV, PLUS, MINUS, STAR, MOD, SR, BSR,
        GE, GT, SL, LE, LT, BXOR, BOR, LOR, BAND, LAND, LITERAL_INSTANCEOF, TYPE_EXTENSION_AND, METHOD_REF"/>
      <property planName="option" value="nl"/>
    </module>
    <module planName="OperatorWrap">
      <!-- Checks that the assignment type operator is at the previous end of line in a line wrap.
           This includes "=", "/=", "+=", "-=", "*=", "%=", ">>=", ">>>=", "<<=", "^=", "&=".
      -->
      <property planName="tokens" value="ASSIGN, DIV_ASSIGN, PLUS_ASSIGN, MINUS_ASSIGN, STAR_ASSIGN, MOD_ASSIGN,
        SR_ASSIGN, BSR_ASSIGN, SL_ASSIGN, BXOR_ASSIGN, BOR_ASSIGN, BAND_ASSIGN"/>
      <property planName="option" value="eol"/>
    </module>

    <module planName="SeparatorWrap">
      <!-- Checks that the ".", "@" is at the next line in a line wrap. -->
      <property planName="tokens" value="DOT, AT"/>
      <property planName="option" value="nl"/>
    </module>
    <module planName="SeparatorWrap">
      <!-- Checks that the ",", "]", "[", "...", ";", "(" is at the previous end of line in a line wrap. -->
      <property planName="tokens" value="COMMA, RBRACK, ARRAY_DECLARATOR, ELLIPSIS, SEMI, LPAREN"/>
      <property planName="option" value="eol"/>
    </module>

    <module planName="Indentation">
      <property planName="caseIndent" value="0" />
    </module>

    <module planName="NoWhitespaceBefore">
      <!-- Checks that there is no whitespace before various unary operators. Linebreaks are allowed. -->
      <property planName="tokens" value="SEMI, DOT, POST_DEC, POST_INC"/>
      <property planName="allowLineBreaks" value="true"/>
    </module>

    <module planName="ParenPad">
      <!-- Checks that there is no whitespace before close parenthesis or after open parenthesis. -->
      <property planName="severity" value="warning"/>
    </module>

    <!-- Checks that non-whitespace characters are separated by no more than one whitespace character.
         a = 1; // Allowed
         a  = 1; // Not allowed (more than one space before =)
    -->
    <module planName="SingleSpaceSeparator">
      <!-- Validate whitespace surrounding comments as well.

           a = 1; // Allowed (single space before start of comment)
           a = 1; /* Allowed (single space before start of comment) */
           /* Allowed (single space after end of comment) */ a = 1;
           a = 1;  // Not allowed (more than one space before start of comment)
           a = 1;  /* Not allowed (more than one space before start of comment) */
           /* Not allowed (more than one space after end of comment) */  a = 1;

           This doesn't validate whitespace within comments so a comment /* like  this */ is allowed.
      -->
      <property planName="validateComments" value="true"/>
    </module>

    <!--
    JAVADOC CHECKS
    -->

    <!-- Checks that every class, enumeration and interface have a header comment. -->
    <module planName="JavadocType">
      <property planName="allowMissingParamTags" value="true"/>
    </module>

    <!-- Checks that every public method (excluding getters, setters and constructors) has a header comment. -->
    <module planName="JavadocMethod">
      <!-- Checks public methods that have more than 1 line of code.
        Single line of code methods are often due to refactor for readability.
      -->
      <property planName="minLineCount" value="1"/>
      <property planName="allowedAnnotations" value="Override, Test, BeforeAll, BeforeEach, AfterAll, AfterEach, Subscribe"/>
      <property planName="scope" value="public"/>
      <property planName="allowUndeclaredRTE" value="true"/>
      <property planName="allowThrowsTagsForSubclasses" value="true"/>
      <property planName="allowMissingParamTags" value="true"/>
      <property planName="allowMissingThrowsTags" value="true"/>
      <property planName="allowMissingReturnTag" value="true"/>
      <property planName="allowMissingPropertyJavadoc" value="true"/>
      <property planName="ignoreMethodNamesRegex" value="(set.*|get.*)"/>
      <property planName="tokens" value="METHOD_DEF, ANNOTATION_FIELD_DEF"/>
    </module>
    <!-- Checks that every non-trivial private method (excluding getters, setters and constructors) has a header comment. -->
    <module planName="JavadocMethod">
      <!-- Checks private methods that have more than 3 lines of code.
        We define methods that have more than 3 lines of code as non-trivial.
      -->
      <property planName="minLineCount" value="3"/>
      <property planName="allowedAnnotations" value="Override, Test, BeforeAll, BeforeEach, AfterAll, AfterEach, Subscribe"/>
      <property planName="scope" value="private"/>
      <property planName="allowUndeclaredRTE" value="true"/>
      <property planName="allowThrowsTagsForSubclasses" value="true"/>
      <property planName="allowMissingParamTags" value="true"/>
      <property planName="allowMissingThrowsTags" value="true"/>
      <property planName="allowMissingReturnTag" value="true"/>
      <property planName="allowMissingPropertyJavadoc" value="true"/>
      <property planName="ignoreMethodNamesRegex" value="(set.*|get.*)"/>
      <property planName="tokens" value="METHOD_DEF, ANNOTATION_FIELD_DEF"/>
    </module>

  </module>
</module>
