/* Stylesheet for StatisticsListPanel.fxml
This is more specifically for styling of the bar chart
*/

.chart-title {
-fx-text-fill: #cef9fb;
  -fx-font-size: 16px;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.data0.chart-bar { -fx-bar-fill: #0054C7; }
.data1.chart-bar { -fx-bar-fill: #1583CC; }
.data2.chart-bar { -fx-bar-fill: #2380FF; }
.data3.chart-bar { -fx-bar-fill: #1BA9E9; }

.chart-bar {

    -fx-background-color:   linear-gradient(derive(-fx-bar-fill,-30%), derive(-fx-bar-fill,-40%)),
                                                      linear-gradient(derive(-fx-bar-fill,80%), derive(-fx-bar-fill, 0%)),
                                                      linear-gradient(derive(-fx-bar-fill,30%), derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0;
}



.axis {
    -fx-font-size: 20px;
    -fx-tick-label-fill: #cef9fb;
    -fx-font-family: Arial;
    -fx-tick-length: 10;
    -fx-minor-tick-length: 7;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}







.chart-vertical-grid-lines {
    -fx-stroke: #858181;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #858181;
}


.chart-plot-background {
    -fx-background-color: #3F3D48;
}
