.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 13px;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
}

.list-cell:filled:even {
    -fx-background-color: #DEF2F1;
}

.list-cell:filled:odd {
    -fx-background-color: #FEFEFE;
}

.table-row-cell:filled:selected {
    -fx-background-color: #75a2c7;
}

.list-cell:filled:selected {
    -fx-background-color: #75a2c7;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-background-color: #61bfba;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-text-fill: white;
}
