.context-menu {

    -fx-background-color: #e3f9ff;
    -fx-background-radius: 0 6 6 6

}


.menu-item:focused {
     -fx-background: -fx-accent;
     -fx-background-color: #d6e5ff;
     -fx-text-fill: -fx-selection-bar-text;
}


