/*.background {*/
/*  -fx-background-color: derive(#23B35B, 20%);*/
/*  background-color: #23B35B; !* Used in the default.html file *!*/
/*}*/

.label {
  -fx-font-size: 11pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-opacity: 0.9;
  -fx-padding: 2px;
}

.label-bright {
  -fx-font-size: 11pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-opacity: 1;
}

.label-header {
  -fx-font-size: 32pt;
  -fx-font-family: "Segoe UI Light";
  -fx-opacity: 1;
}

.text-field {
  -fx-font-size: 12pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-border-radius: 10;
}

.tab-pane {
  -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
  -fx-padding: 0 0 0 0;
  -fx-min-height: 0;
  -fx-max-height: 0;
}


.result-display {
  -fx-background-color: transparent;
  -fx-font-family: "Segoe UI Light";
  -fx-font-size: 13pt;
}

.status-bar .label {
   -fx-font-family: "Segoe UI Light";
   -fx-padding: 4px;
   -fx-pref-height: 30px;
 }

.status-bar-with-border {
  -fx-border-width: 1px;
}

.status-bar-with-border .label {
  -fx-opacity: 0.6;
}

.menu:hover, .menu:focused, .menu:pressed, .menu:showing {
  -fx-background-color: #23B35B;
}

.menu-item:focused, .menu-item:hover {
  -fx-background-color: #23B35B;
}

#cardPane {
  -fx-background-color: transparent;
  -fx-border-width: 0;
}

#commandTypeLabel {
  -fx-font-size: 11px;
  -fx-text-fill: #F70D1A;
}

#resultDisplay .content {
  -fx-background-radius: 0;
}

#tags {
  -fx-hgap: 7;
  -fx-vgap: 3;
}

#tags .label {
  -fx-text-fill: white;
  -fx-background-color: #23B35B;
  -fx-padding: 1 3 1 3;
  -fx-border-radius: 2;
  -fx-background-radius: 2;
  -fx-font-size: 11;
}

#remark {
  -fx-opacity: 0.6;
}

.onHover{
  -fx-background-color: ORANGE;
}

.tab-content-area  {
  -fx-text-alignment: center;
  /*-fx-alignment: center;*/
}

.split-pane .split-pane-divider {
  -fx-padding: 0 0 0 0;
}

.chart-plot-background {
  -fx-background-image: url(../images/moneygowhere.png);
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-opacity: 0.6;
  /*-fx-background-size: contain;*/
}

.chart-series-line {
  -fx-stroke: lightgreen;
}

.chart-line-symbol {
  -fx-background-color: #FFD8B3, white;
}

.separator
{
  -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 60% , #23B35B, white);
  -fx-background-radius: 2;
  -fx-padding:1;
  -fx-opacity: 0.7;
}

.separator *.line
{
  -fx-border-style: solid;
  -fx-border-width: 0px;
}

#spendingList > .label {
  -fx-text-alignment: center;
}

#budgetPanelPlaceholder {
  -fx-padding: 0 0 10 0;
}

#budgetProgressBar {
  -fx-accent: #85CC7E;
}

.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.tab-pane
{
  -fx-tab-min-width:90px;
}

.tab{
  -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
  -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected
{
  -fx-background-color: #85CC7E;
}

.tab .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: #828282;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
}

.tab:selected .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: white;
}

.tab-pane:top *.tab-header-area {
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

#spendingListView {
  -fx-selection-bar: #23B35B;
  -fx-background-color: #AADFAA;
}

.list-cell:empty {
  -fx-background-color: white;
}

.list-cell:focused {
  -fx-background-color: #AADFAA;

}
