.background {
    -fx-background-color: derive(#ffffff, 20%);
    background-color: #9cd8eb; /* Used in the default.html file */
}

.label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #383838;
    -fx-opacity: 0.75;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#9cd8eb, 20%);
}

.list-cell {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: #f9f9f9;
}

.list-cell:filled:even {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ffffff #ffffff #87c4d7 #ffffff;
}

.list-cell:filled:odd {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ffffff #ffffff #87c4d7 #ffffff;
}

.list-cell:filled:selected {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #383838;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #87c4d7;
    -fx-border-width: 5;
    -fx-effect: dropShadow(gaussian , rgba(32, 157, 229, 0.5), 10,0.5,0,0 );

}

.list-cell .label {
    -fx-text-fill: #000000;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #eb3fc4;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16px;
    -fx-text-fill: #383838;
}

.stack-pane {
    -fx-background-color: derive(#eb3fc4, 20%);
}

.pane-with-border {
    -fx-background-color: rgb(249, 249, 249);
    -fx-border-color: #1d1d1d;
    -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.result-display {
    -fx-background-color: #bababa;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: #bababa !important;
}

.left-right-panel > TextArea {
    -fx-border-color: derive(#1d1d1d, 70%);
    -fx-border-radius: 5;
    -fx-border-width: 1pt;
}

.left-right-panel > TextArea:focused {
    -fx-border-color: derive(#1d1d1d, 70%), derive(#3e7b91, 40%), derive(#3e7b91, 30%), derive(#3e7b91, 10%);
    -fx-border-width: 1pt;
    -fx-border-insets: 2, 3, 4, 5;
}

.left-right-panel * {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Semilight";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#bababa, 20%);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#737373, 50%);
    -fx-background-insets: 3;
    -fx-padding: 2 2 2 2;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.commandBox {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #209de5, #4fb2ea);
}

.resultDisplayBox {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #209de5, #4fb2ea);
}

.tab-pane {
    -fx-tab-max-height: 0;
}

.tab-pane .tab {
    -fx-background-color: derive(#eb3fc4, 20%);
}

.tab-pane .tab-header-area .tab-header-background {
    visibility: hidden;
    -fx-background-color: transparent;
    -fx-padding: -20 0 0 0;
}

.resourceListPanelBox {
    -fx-background-color: rgb(249, 249, 249);
    -fx-border-color: #ffffff #bababa #ffffff #ffffff;
    -fx-border-top-width: 0px;
}

.logoBox {
    -fx-background-color: #209de5;
}

.chartBox {
    -fx-border-color: #f9f9f9 #f9f9f9 #f9f9f9 #bababa;
    -fx-border-style: chartBoxBorder;
}

.chartBoxBorder {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #209de5, #4fb2ea);
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #f9f9f9 #bababa transparent #bababa;
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #383838 #383838;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay {
    -fx-background-color: #bababa;
    -fx-border-color: #383838;
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#resultDisplay .content{
    -fx-background-color: transparent, #bababa, transparent, #bababa;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 10;
}

#muscles .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 18;
}

.infoPanel_name {
    -fx-font-size: 32;
    -fx-font-style: bold;
    -fx-text-fill: black;
}

.infoPanel_properties {
    -fx-font-size: 24;
    -fx-font-style: bold;
    -fx-text-fill: black;
}

.infoPanel_customProperties_label {
    -fx-font-size: 18;
    -fx-font-style: bold;
    -fx-text-fill: black;
}

.customProperties_cell {
    -fx-font-size: 18;
    -fx-font-style: bold;
    -fx-text-fill: black;
}
