* {
    -colour-title: #3c3744;
    -colour-bgfill: #746680;
    -colour-scrollbar-track: #3c3744;
    -colour-scrollbar-bar: #746680;
    -colour-category1: #ff7e67;
    -colour-category: #dbd18f;
    -colour-price: #8317ad;
    -colour-additional-info: #787878;
    -colour-result: #554e61;
    -colour-menuitem-focus: rgb(204, 139, 176);

    -status-background-colour: -colour-title;
    -status-border-colour: transparent;
    -text-colour: white;

    -font-mono: "Courier New";
    -fx-font-family: "Courier New", sans-serif;

    -progress-bar-overbudget: #fe5f55;
    -progress-bar-nearbudget: #ffb55a;
    -progress-bar-halfbudget: #cde460;
    -progress-bar-inbudget: #6ecd8e;
}

.list-view {
    -fx-background-color: -colour-bgfill;
}

.list-cell {
    -fx-background-color: transparent;
}


.list-cell .label {
    -fx-text-fill: black;
}

.pane-with-border {
    -fx-background-color: -colour-title;
}

.status-bar {
    -fx-background-color: -status-background-colour;
}

.result-display {
    -fx-background-color: -colour-result;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

.status-bar .label {
    -fx-font-family: -font-mono;
    -fx-text-fill: -text-colour;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: -status-background-colour;
    -fx-border-color: -status-border-colour;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -text-colour;
}

.context-menu {
    -fx-background-color: -status-background-colour;
}

.context-menu .menu-item:focused {
    -fx-background-color: -colour-menuitem-focus
}

.context-menu .label {
    -fx-text-fill: -text-colour;
    -fx-font-size: 10px;
}

.menu-bar {
    -fx-background-color: -status-background-colour;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -colour-menuitem-focus;
}

/*.menu-bar .menu-button {*/
/*    -fx-background-color: none;*/
/*}*/

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: -font-mono;
    -fx-text-fill: -text-colour;
    -fx-opacity: 0.9;
}

.placeholder {
    -fx-background-color: -colour-bgfill;
}

.placeholder .label{
    -fx-font-family: -font-mono;
    -fx-font-size: 20px;
}

#titlePlaceHolder {
    -fx-background-color: -colour-title;
}

#titlePlaceHolder .label {
    -fx-text-fill: -text-colour;
    -fx-font-family: -font-mono;
    -fx-padding: 10;
}

.scroll-bar {
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-background-color: -colour-scrollbar-track;
}

.scroll-bar .thumb {
    -fx-background-color: -colour-scrollbar-bar;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-fill: transparent;
}

#budgetCardPane {
    -fx-background-color: #ac9eb8;
    -fx-padding: 10;
}

.progress-bar > .track {
    -fx-background-color: #7f7a82;
}

.progress-bar .bar {
    -fx-background-color: -progress-bar-colour;
    -fx-background-insets: 0;
}

.command-box {
    -fx-background-color: -colour-title;
}

#aliasCardPane #aliasName {
    -fx-border-radius: 5;
    -fx-background-color: -colour-title;
    -fx-text-fill: orange;
}

#aliasListView .list-cell:even #aliasCardPane #aliasName {
    -fx-background-color: derive(-colour-title, 30%)
}

#aliasCardPane #aliasInput {
    -fx-background-insets: -1;
    -fx-background-color: -colour-result;
    -fx-text-fill: white;
}

#expenseCardPane,
#eventCardPane {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(31, 31, 31, 0.37), 10, .01, 1, 5)
}

#expenseCardPane #iconBackground,
#eventCardPane #iconBackground {
    -fx-fill: -colour-category;
}

#expenseCardPane #date, #expenseCardPane #time, #expenseCardPane #categories .label, #expenseCardPane #index,
#eventCardPane #index, #eventCardPane #date, #eventCardPane #budgetName, #eventCardPane #categories .label {
    -fx-text-fill: -colour-additional-info;
}

#expenseCardPane .label,
#eventCardPane .label {
    -fx-font-family: -font-mono;
    -fx-font-size: 16px;
}

#expenseCardPane #price,
#eventCardPane #price {
    -fx-font-family: -font-mono;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: -colour-price;
    -fx-padding: 0 5 0 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #ebdff5;
    -fx-font-family: -font-mono;
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#resultDisplay .content {
    -fx-background-color: -colour-result;
}

/*Any charts*/
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

/*Pie Charts*/
.chart-pie-label {
    -fx-fill: -text-colour
}


/*Line Charts*/

.axis {
    -fx-tick-label-fill: -text-colour;
}

.chart-content {
    -fx-padding: 30px;
    -fx-text-fill: -text-colour;
}

.axis-label {
  -fx-text-fill: -text-colour;
}


.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: -text-colour;
}

