.background {
    -fx-background-color: black
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #3c3e3f;
}

.list-cell:filled:odd {
    -fx-background-color: #515658;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.cell_big_label_amt {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.cell_small_label {
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.expense_card {
    -fx-text-fill: LightSalmon;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent LightSalmon;
}

.income_card {
    -fx-text-fill: MediumSeaGreen;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent MediumSeaGreen;
}

.wish_card {
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent MediumPurple;
}

.autoexp_card {
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent Coral;
}

.reminder_card {
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent GoldenRod;
}

.budget_card {
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent SteelBlue;
}

.stack-pane {
     -fx-background-color: derive(#1d1d1d, 20%);
}

.pane-with-border {
     -fx-background-color: derive(#1d1d1d, 20%);
/*     -fx-border-color: derive(#1d1d1d, 10%);
     -fx-border-top-width: 1px;*/
}

.side-panel-placeholder {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.side-panel {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: Grey;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.side-panel-income {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: #3cb371;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.side-panel-expense {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: Coral;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.side-panel-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: White;
}

.side-panel-listview {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: Grey;
    -fx-border-width: 1px;

}

.side-panel-listcard {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-text-fill: White;

}

.stats-graphic-title {
    -fx-text-fill: white;
    -fx-font-size: 20px
}

.stats-bar-text {
    -fx-side-shelf-fill: white;
    -fx-label-fill: white;
    -fx-tick-label-fill: white;
    -fx-text-fill: white;
}

.stats-bar-cat-axis {
    -fx-axis-stroke: white;
    -fx-label-fill: white;
    -fx-tick-label-fill: white;
    -fx-text-fill: white;
}

.stats-bar-num-axis {
    -fx-axis-stroke: white;
    -fx-label-fill: white;
    -fx-tick-label-fill: white;
    -fx-text-fill: white;
}

#dateOfRecord {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.chart-title {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.axis-label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.stats-pie-text {
    -fx-text-fill: white;
}

.status-bar {
    -fx-background-color: IndianRed;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.status-bar .label {
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-font-size: 10px;
}

.result-display {
    -fx-background-color: Black;
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display-text-area {
    -fx-background-color: Black;
    -fx-font-size: 13pt;
    -fx-text-fill: White;
    -fx-border-color: Grey;
    -fx-border-width: 1px;
}

.result-display .label {
    -fx-text-fill: black !important;
}

#resultDisplay .content {
    -fx-background-color: black;
    -fx-background-radius: 0;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: IndianRed;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-text-fill: Black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: IndianRed;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: Black;
    -fx-background-insets: 0;
    -fx-border-color: grey;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-size: 11pt;
    -fx-text-fill: White;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.labelCategoryIncome {
    -fx-text-fill: black;
    -fx-background-color: MediumSeaGreen ;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.labelCategoryExpense {
    -fx-text-fill: black;
    -fx-background-color: IndianRed ;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
