.background {
    -fx-background-color: derive(#222831, 0%);
    background-color: #393E46; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-alignment: center;
}


.tab-pane .tab  {
    -fx-background-color: transparent;
    -fx-pref-height: 50;
    -fx-pref-width: 150;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane .tab:hover {
    -fx-background-color: derive(#393E46, 50%);
    -fx-border-color: derive(#393E46, 50%);
}

.tab-pane .tab:selected {
    -fx-background-color: #393E46;
    -fx-border-color: #393E46;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Light";
    -fx-pref-width: 150;
    -fx-font-size: 15;
    -fx-alignment: center;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #393E46;
    -fx-border-width: 4;
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.table-view {
    -fx-base: #222831;
    -fx-control-inner-background: #222831;
    -fx-background-color: #222831;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#222831, 0%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#222831, 0%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

.list-cell:filled:even {
    -fx-background-color: derive(#222831, 10%);
}

.list-cell:filled:odd {
    -fx-background-color: derive(#222831, 20%);
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: derive(#222831, 10%);
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_extra_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 19px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(#222831, 0%);
}

.pane-with-border {
     -fx-background-color: derive(#222831, 0%);
     -fx-border-color: derive(#222831, 0%);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#222831, 10%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Courier New";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#222831, 10%);
    -fx-border-color: derive(#222831, 5%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#222831, 10%);
    -fx-border-color: derive(#222831, 10%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#222831, 10%);
}

.context-menu {
    -fx-background-color: derive(#222831, 30%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#222831, 0%);
    -fx-border-color: transparent transparent #393E46 transparent;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #222831;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #222831;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #222831;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #222831;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #222831;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#222831, 5%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#222831, 0%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#222831, 30%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 5 1 5;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 5 1 5 1;
}

#calendar {
    -fx-background-color: transparent;
}

#calendarContainer {
    -fx-background-color: linear-gradient(to top, #222831, #312228);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: lightblue;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#colouredBlockWithText:hover {
    -fx-opacity: 0.65;
}

#colouredBlockWithText {
    -fx-alignment: top-left;
}

#colouredBlockWithText .label {
    -fx-padding: 3 0 0 3;
}

#colouredBlock {
    -fx-effect: dropshadow(gaussian, #222831, 2, 0.0, 3, 3);
    -fx-opacity: 0.85;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #393E46 transparent #393E46;
    -fx-background-insets: 0;
    -fx-border-color: #393E46 #393E46 #ffffff #393E46;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Courier New";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#commandTextField:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

#dashedLine {
    -fx-border-color: derive(#393E46, 20%);
    -fx-border-style: hidden hidden dashed hidden;
}

#dateHeader {
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 25;
}

#dateNumber {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
}

#dateNumberSelected {
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-style: hidden hidden solid hidden;
}

#dateNumberSelected .label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-font-size: 20;
}

#dayLabelContainer {
    -fx-background-color: #222831;
    -fx-border-width: 2;
    -fx-alignment: center;
}

#dayLabelContainer #dayDate {
    -fx-opacity: 0.6;
}

#defaultStartViewContainer {
    -fx-background-color: linear-gradient(to top, #393E46, #3b3946);
}

#defaultStartViewContainer #defaultTitle {
    -fx-font-size: 35;
    -fx-font-family: "Segoe UI";
}

#defaultStartViewContainer .label {
    -fx-text-fill: white;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#firstChoiceHeader #firstChoiceLocation {
    -fx-font-family: Garamond;
}

#freeTimeSlot #freeTimeSlotBlock {
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
    -fx-background-color: rgba(152, 251, 152, 0.35) !important;
}

#freeTimeSlot .label {
    -fx-text-fill: white !important;
    -fx-font-family: "Segoe UI Semibold" !important;
    -fx-alignment: center !important;
}

#groupDetailContainer, #detailCard, #listHeaderContainer, #listMemberContainer, #exportContainer {
    -fx-background: #222831;
    -fx-background-color: #222831;
}

#groupDetailContainer .label {
    -fx-text-fill: white;
}

#locationsViewContainer {
    -fx-background-color: #222831;
}

#locationsViewContainer .label {
    -fx-text-fill: #FFFFFF;
}

#locationCardContainer {
    -fx-background-color: #393E46;
    -fx-border-color: lightblue;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

#locationCardContainer #locationTitle, #locationAvgTravelDistanceLabel {
    -fx-opacity: 0.67;
    -fx-font-family: Garamond;
}

#locationOverviewContainer {
    -fx-background-color: #393E46;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#locationsEnteredContainer {
    -fx-spacing: 5;
    -fx-alignment: center;
}

#locationsEnteredContainer .label {
    -fx-font-family: Garamond;
    -fx-opacity: 0.87;
}

#listHeaderContainer {
    -fx-border-color: #393E46;
    -fx-border-style: solid none none none;
}

#listHeaders .label {
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.67;
}

#memberCard {
    -fx-background-color: derive(#222831, 20%);
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-pref-height: 50;
    -fx-effect: dropshadow(gaussian, black, 2, 0.0, 3, 3);
}

#memberCard #memberName {
    -fx-text-fill: white;
    -fx-opacity: 0.87;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 15;
}

#memberCard #memberEmail, #memberRole {
    -fx-text-fill: white;
    -fx-opacity: 0.87;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12;
}

#offsetRegion {
    -fx-background-color: linear-gradient(from 0px 0px to 2px 2px, reflect,  #222831 30%, #393E46  47%);
    -fx-border-color: derive(#393E46, 20%);
    -fx-border-style: solid none none solid;
}

#personDetailContainer {
    -fx-background-color: #222831;
    -fx-background: #222831;
}

#personDetailContainer .label {
    -fx-text-fill: #FFFFFF;
}

#profileContainer {
    -fx-background-color: white;
    -fx-border-color: #393E46;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#resultDisplay .content {
    -fx-background-color: transparent, #393E46, transparent, #393E46;
    -fx-background-radius: 0;
}

#rightBorder {
    -fx-background-color: #222831;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#timeSlotContainer {
    -fx-padding: 0 2 0 2;
}

#timeSlotLabelContainer {
    -fx-background-color: #222831;
    -fx-border-color: #222831;
}

#scheduleView {
    -fx-border-color: derive(#222831, 20%);
    -fx-background-color: derive(#222831, 20%);
}

#scheduleView #title {
    -fx-opacity: 1 !important;
}

#scheduleView .label {
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.87;
    -fx-font-family: "Segoe UI Light";
}

#scheduleContents {
    -fx-background: #393E46;
    -fx-background-color: #393E46;
}

#scheduleContents #dayEvenStackPane {
    -fx-background-color: derive(#222831, 0%);
}

#scheduleContents:hover {
    -fx-vbar-policy: as_needed;
}

#scheduleHeaderWrapper {
    -fx-background: #393E46;
    -fx-background-color: #222831;
}

#scheduleDisplayContainer {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 1;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: lightblue !important;
}

#scheduleDisplayContainer .label {
    -fx-font-family: Consolas;
}

#scheduleDisplayContainer #eventName {
    -fx-font-size: 20;
}

#scheduleDisplayContainer #venue, #timing {
    -fx-font-size: 14;
    -fx-opacity: 0.67;
}

#solidLine {
    -fx-border-color: derive(#393E46, 20%);
    -fx-border-style: solid hidden hidden solid;
}

#suggestions-list {
    -fx-background-color: transparent;
}
#suggestions-list .list-cell {
    -fx-text-fill: white;
}
#suggestions-list .list-cell:empty {
    visibility: hidden;
}

#upcomingScheduleHeader {
    -fx-font-family: Garamond;
    -fx-font-size: 25;
    -fx-border-width: 2;
}

#upcomingScheduleContainer {
    -fx-background: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

#upcomingScheduleWrapper {
    -fx-border-color: lightblue;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #222831;
}
