/** Constants **/
@font-face {
    font-family: Roboto Regular;
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto Thin;
    src: url("Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto Medium;
    src: url("Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto Medium;
    src: url("Roboto-MediumItalic.ttf");
}

.root {
    /** Colors **/
    -backgroundColor: #121212;  /** Default Dark **/
    -surfaceColor: #1E1E1E;     /** Lighter Dark **/
    -topColor: #383838;         /** Lightest Dark **/
    -primaryColor: #262833;     /** Dark tinted blue **/
    -logBoxColor: #4ACFAC;      /** Light Green **/
    -errorColor: #CF6679;       /** Red Error **/
    -lineColor: #FF7597;        /** Some Redish Pink **/
    -calendarDayColor: #607080; /** Light Purple Blue Box **/
    -welcomeColor: #7FC9FD;     /** Light Sky Blue **/
    -eventCardColor: #FFAF5F;
    -taskCardColor: #b5e6d4;
    -taskDoneCardColor: #e4fac3;
    -currentDateColor: #0D6B54;
    -eventTagColor: #7FC9FD;
    -taskTagColor: #E6BEB5;
    -taskDoneTagColor: #99FFC0;
    -secondaryColor: #FFFFFF;
}

.background {
    -fx-background-color: #121212;
    background-color: #121212;
}

.label {
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: -secondaryColor;
    -fx-opacity: 0.9;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto Regular";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: secondaryColor;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: -secondaryColor, -secondaryColor;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: -secondaryColor;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.scroll-pane {
    -fx-background: -surfaceColor;
    -fx-background-color: -surfaceColor;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #1F1F1F;
    -fx-background-insets: 0;
    -fx-background-radius: 12;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: -regularFont;
    -fx-font-size: 13pt;
    -fx-text-fill: -secondaryColor;
}
/** For Main Window **/
#viewTitlePane {
    -fx-background-color: -surfaceColor;
}

#viewTitle {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 24px;
    -fx-font-style: italic;
}

#popUp {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 12pt;
    -fx-text-fill: -primaryColor;
    -fx-background-color: -logBoxColor;
    -fx-background-radius: 8;
}

#gridManager {
    -fx-background-color: -backgroundColor;
}

/** For LogPanel **/
#logPanelBase, #scrollLog, #boxLog {
    -fx-background-color: -surfaceColor;
    -fx-base: -surfaceColor;
}

#logPanelBase, #scrollLog {
    -fx-background-radius: 8;
}

#scrollLog .corner {
    -fx-background-color: transparent;
}

#box {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 11pt;
    -fx-text-fill: -primaryColor;
    -fx-background-color: -logBoxColor;
    -fx-background-radius: 8;
    -fx-background-insets: 0-10;
}

/** For CalendarPanel **/
#calendarDay {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 11pt;
    -fx-text-fill: -secondaryColor;
}

#calendarDayCircle {
    -fx-opacity: 0;
    -fx-fill: -calendarDayColor;
}

#calendarBase {
    -fx-background-color: -surfaceColor;
}

#monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 11pt;
}

#monthYearTitle, #timelineTitle, #upcomingViewTitle {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13pt;
}

/** For Timeline **/
#timelineBase, #timelineScrollPane, #timelineBox {
    -fx-background-color: -surfaceColor;
}

#timelineBase, #timelineScrollPane {
    -fx-background-radius: 8;
}

#detailsBase {
    -fx-background-color: -backgroundColor;
}

#timelineGrid {
    -fx-background-color: -surfaceColor;
}

#line0, #line1, #line2, #line3, #line4, #line5,
#line6, #line7, #line8, #line9, #line10, #line11,
#line12, #line13, #line14, #line15, #line16, #line17,
#line18, #line19, #line20, #line21, #line22, #line23 {
    -fx-background-color: -lineColor;
    -fx-opacity: 0.6;
}

/** For Upcoming View **/

#upcomingViewBase {
    -fx-background-color: -surfaceColor;
    -fx-background-radius: 8;
}

#upcomingPanel, #upcomingList {
    -fx-background-color: -surfaceColor;
}

#upcomingScrollPane {
    -fx-background-color: -surfaceColor;
    -fx-background: -surfaceColor;
}

/** For List Panel **/
#listPanelBase, #listPanelGrid {
    -fx-backgroundColor: -transparent;
}

#eventListPlaceholder, #taskListPlaceholder {
    -fx-background-color: -surfaceColor;
    -fx-background-radius: 8;
}

#eventList, #taskList {
    -fx-background-color: -surfaceColor;
}

#eventScrollPane, #taskScrollPane {
    -fx-background: -surfaceColor;
    -fx-background-color: -surfaceColor;
}

#eventListTitle, #taskListTitle {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -secondaryColor;
    -fx-font-size: 14pt;
}

/** For Event Card **/
#eventCardBase {
    -fx-background-color: -eventCardColor;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, -backgroundColor, 4, 0.5, 0, 0);
}

#eventName {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 14pt;
}

#eventStartDate, #eventEndDate, #eventRemindDate {
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 10pt;
}

#eventIndex {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 10pt;
}

/** For Task Card **/
#taskCardBase {
    -fx-background-color: -taskCardColor;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, -backgroundColor, 4, 0.5, 0, 0);
}

#taskName {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 14pt;
}

#taskDueDate {
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 10pt;
}

#taskIndex {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 10pt;
}

/** For CardTag **/
#cardTag {
    -fx-background-color: -eventTagColor;
    -fx-background-radius: 8;
    -fx-font-family: "Roboto Regular";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 10pt;
}

/** For Upcoming Event Card **/
#upcomingEventBase {
    -fx-background-color: -eventCardColor;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, -backgroundColor, 4, 0.5, 0, 0);
}

#upcomingWeekDay {
    -fx-font-family: "Roboto Light";
    -fx-text-fill: -secondaryColor;
    -fx-font-size: 10pt;
}

#upcomingDay {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -secondaryColor;
    -fx-font-size: 14pt;
}

#upcomingEventName {
    -fx-font-family: "Roboto Light";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 13pt;
}

/** For Upcoming Task Card **/
#upcomingTaskBase {
    -fx-background-color: -taskCardColor;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(three-pass-box, -backgroundColor, 4, 0.5, 0, 0);
}

#upcomingWeekDay {
    -fx-font-family: "Roboto Light";
    -fx-text-fill: -secondaryColor;
    -fx-font-size: 10pt;
}

#upcomingDay {
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: -secondaryColor;
    -fx-font-size: 14pt;
}

#upcomingTaskName {
    -fx-font-family: "Roboto Light";
    -fx-text-fill: -primaryColor;
    -fx-font-size: 13pt;
}

/** Command Box **/
#commandBoxBase {
    -fx-background-color: -surfaceColor;
    -fx-background-radius: 8;
}

.context-menu {
  -fx-background-color: -surfaceColor;
}
