@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

.background {
    -fx-background-color: snow;
    background-color: snow; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: grey;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-border-color: #ded7d7;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}

.list-cell:filled:even {
    -fx-background-color: transparent;
}

.list-cell:filled:odd {
    -fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: transparent;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #995353;
    -fx-border-width: 2;
    -fx-border-radius: 4;
}

.list-cell .label {
    -fx-text-fill: black;
}

.dashboardCell_big_label {
    -fx-font-family: "";
    -fx-font-weight: 200;
    -fx-font-size: 25px;
    -fx-text-fill: #995353;
}

.dashboardCell_small_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: 100;
    -fx-font-size: 15px;
    -fx-text-fill: #010504;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: 200;
    -fx-font-size: 20px;
    -fx-text-fill: #010504;
}

.cell_medium_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #1b1f21;
}

.cell_label {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #204e48;
    -fx-font-size: 10px;
}

.cell_small_header {
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #39244e;
    -fx-font-size: 12px;
}

.label_subtitle {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 12px;
    -fx-text-fill: #3c3c3c;
}

.stack-pane {
     -fx-background-color: transparent;
}

.pane-with-border {
     -fx-background-color: white;
     -fx-border-color: white;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(white, 30%);
}

.result-display {
    -fx-background-color: #f2eeeb;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: grey;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: grey;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(white, 30%);
    -fx-border-color: derive(white, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: transparent;
    -fx-border-color: derive(white, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-background-color: derive(white, 50%);
}

.context-menu .label {
    -fx-text-fill: #d2d2d2;
}

.menu-bar {
    -fx-background-color: derive(rgba(220, 220, 220, 0.65), 30%);
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: grey;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #995353;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #995353;
  -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: transparent, transparent;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: white;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: white;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(white, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: white;
}

.scroll-bar .thumb {
    -fx-background-color: #995353;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#title {
    -fx-font-size: 44px;
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 10;
}

#pageInputHeader {
    -fx-font-size: 36;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #f2eee5;
}

#titleInput, #typeInput, #descriptionInput, #imageInput, #diaryNameInput {
    -fx-font-size: 18;
    -fx-font-family: 'Raleway', 'sans-serif';
}

#pageInputPanel .text-field {
    -fx-prompt-text-fill: grey;
    -fx-font-size: 12;
}

#imageButton {
    -fx-padding: 2 2 2 2;
    -fx-border-radius: 5;
    -fx-background-color: #90caf9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: black;
}

#confirmButton {
    -fx-background-color: #81c784;
    -fx-border-radius: 5;
    -fx-text-fill: black;
}

#cancelButton {
    -fx-background-color: #ff5252;
    -fx-border-radius: 5;
    -fx-text-fill: black ;
}

#diaryHeader {
    -fx-font-size: 36;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-background-color: #f2eee5;
    -fx-font-weight: bold;
}

#pageCardPane {
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-color: #eeeeee;
}

#pageListView {
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

#pageListView .list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-padding: 0 0 0 0;
    -fx-border-color: #ded7d7;
    -fx-border-width: 1;
    -fx-border-radius: 2;
}


#pageListView .list-cell:filled:even {
    -fx-background-color: transparent;
}

#pageListView .list-cell:filled:odd {
    -fx-background-color: transparent;
}

#pageListView .list-cell:filled:selected {
    -fx-background-color: transparent;
}

#pageListView .list-cell .label {
    -fx-text-fill: black;
}

#pageTitle {
    -fx-font-size: 28;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-background-color: transparent;
}

#pageDescription {
    -fx-font-size: 18;
    -fx-font-family: 'Roboto', sans-serif;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #fffdfa #fffdfa;
    -fx-background-insets: 0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12pt;
    -fx-text-fill: black;
}

#filterField, #recipeListPanel, #recipeWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #f2eeeb;
    -fx-background-radius: 1;
}

#pages {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#pages .label {
    -fx-text-fill: black;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 3;
    -fx-font-size: 12;
}

#remarkPages {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#remarkPages .label {
    -fx-text-fill: black;
    -fx-background-color: #fea780;
    -fx-padding: 2 5 2 5;
    -fx-border-radius: 2;
    -fx-background-radius: 5;
    -fx-font-size: 12;
}

#medicalHistories {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#medicalHistories .label {
    -fx-text-fill: white;
    -fx-background-color: #aad4e2;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 12;
}

#featureMode {
    -fx-padding: 0 0 0 10;
    -fx-text-fill: grey;
    -fx-font-size: 17;
    -fx-font-family: "Microsoft Sans Serif";
}

#feature_bar {
    -fx-background-color: #f2eee5;
}

#summaryCard #type {
    -fx-font-size: 27;
}

#summaryCardHolder {
    -fx-border-color: black;
    -fx-border-radius: 4;
    -fx-background-color: rgba(255, 212, 207, 0.71);
}

#personCard {
    -fx-background-color: linear-gradient(to left top, snow, snow, snow, snow,
    rgba(238, 173, 146, 0.22), rgba(234, 111, 85, 0.33) 70%, rgba(254, 116, 117, 0.26));
}

.command-box {
    -fx-border-width: 3;
    -fx-border-color: white;
    -fx-border-radius: 3;
}

.no_profile_label {
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.no_profile_sublabel {
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-size: 11;
    -fx-text-fill: rgba(254, 95, 85, 0.75);
}

#mealPlanHeader {
    -fx-font-size: 36;
    -fx-font-weight: bold;
}

#mealPlanViewing {
    -fx-font-size: 36;
    -fx-font-weight: bold;
}


.recordType {
    -fx-background-color: rgba(255, 212, 207, 0.71);
    -fx-font-weight: normal;
    -fx-background-radius: 4;
    -fx-font-size: 20px;
    -fx-text-fill: #010504;
}

.allRecordsLabel {
    -fx-font-size: 20px;
    -fx-font-family: Tahoma;
    -fx-text-fill: #4b4b4b;
    -fx-padding: 0 0 0 10;
}
