.background {
    -fx-background-color: #2a2a2a;
}

.menu-item {
    -fx-padding: 5 10 5 10;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 15pt;
}

.context-menu {
    -fx-background-color: #1d1d1d;
    -fx-border-color: white;
}

.menu-item:focused {
    -fx-background-color: derive(black, 40%);
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.help-text {
    -fx-font-size: 13pt;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled {
    -fx-background-color: #1d1d1d;
    -fx-border-color: derive(#1d1d1d, 20%);
    -fx-border-width: 0 0 1 0;
}

.list-cell:filled:selected #cardPane {
    -fx-background-color: #0D293E;
    -fx-border-color: #0D293E;
    -fx-border-width: 2;
}

.cell_index {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 23px;
    -fx-padding: 1 8 1 8;
    -fx-background-color: #007846;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 23px;
    -fx-text-fill: white;
}

.cell_description {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 18px;
    -fx-text-fill: derive(grey, 80%);
}

.cell_savings {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-padding: 1 8 1 8;
    -fx-background-color: #007846;
    -fx-background-radius: 20;
}

.cell_savings_timing {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 22px;
    -fx-text-fill: white;
}

.cell_withdrawal {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-padding: 1 8 1 8;
    -fx-background-color: #ff000d;
    -fx-background-radius: 20;
}

.cell_small_label {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 15px;
    -fx-text-fill: derive(grey, 60%);
}

.cell_price {
    -fx-text-fill: white;
    -fx-background-color: #007846;
    -fx-padding: 1 10 1 10;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 26;
}

.cell_recommendation {
    -fx-text-fill: white;
    -fx-background-color: #ED7B23;
    -fx-padding: 1 10 1 10;
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 20;
}

.cell_purchase_history_time {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.menu-pane-with-border {
    -fx-background-color: #1d1d1d;
    -fx-border-color: derive(#1d1d1d, 10%);
    -fx-border-top-width: 1px;
}

.pane-with-border {
    -fx-background-color: #1d1d1d;
    -fx-border-color: derive(#1d1d1d, 10%);
}

.vbox-tab-pane-with-border {
    -fx-background-color: #1d1d1d;
    -fx-border-color: derive(#1d1d1d, 10%);
    -fx-border-width: 1 1 0 0;
}

.vbox-inner-tab-pane-with-border {
    -fx-background-color: #1d1d1d;
    -fx-border-color: derive(#1d1d1d, 10%);
    -fx-border-width: 1 0 0 0;
}

.tab-pane-with-border {
    -fx-background-color: #1d1d1d;
    -fx-border-color: derive(#1d1d1d, 10%);
    -fx-border-width: 1 0 1 0;
}

.account-balance {
    -fx-text-fill: white;
    -fx-wrap-text: 380px;
    -fx-font-family: Monospaced;
    -fx-font-size: 30px;
    -fx-padding: 5px;
}

.purchase-history-text {
    -fx-text-fill: white;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 40px;
}

.account-days-left {
    -fx-fill: white;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 25px;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: #1d1d1d;
}

.tab-pane .tab:selected {
    -fx-background-color: #003d7c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.status-bar {
    -fx-background-color: #1d1d1d;
    -fx-border-color: derive(#1d1d1d, 10%);
}

.status-bar .label {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-font-size: 15pt;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.menu-button {
    -fx-border-color: transparent;
    -fx-background-color: #1d1d1d;
}

.info-window {
    -fx-background-color: #1d1d1d;
    -fx-border-color: white;
}

.info-header {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 45pt;
    -fx-text-fill: white;
}

.info-big-label {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 25pt;
    -fx-text-fill: white;
}

.info-small-label {
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 15pt;
    -fx-text-fill: white;
}

.command-text {
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.help-button {
    -fx-text-fill: white;
    -fx-font-size: 15pt;
    -fx-font-family: "Franklin Gothic Medium";
}

.help-window {
    -fx-background-color: #1d1d1d;
    -fx-border-color: white;
}

.scroll-bar {
    -fx-background-color: #1d1d1d;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTextField {
    -fx-background-color: #1d1d1d;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#resultDisplay .content {
    -fx-background-color: transparent, #2a2a2a, transparent, #2a2a2a;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #003d7c;
    -fx-padding: 2 7 2 7;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-font-size: 18;
}

.error {
    -fx-text-fill: #d06651 !important;
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #2a2a2a;
}

