* {
    -colour-title: #3c3744;
    -colour-bgfill: #746680;
    -colour-category1: #ff7e67;
    -colour-category: #dbd18f;
    -colour-price: #8317ad;
    -colour-index: #aaaaaa;
    -colour-result: #554e61;
    /*-status-background-colour: derive(#1d1d1d, 30%);*/
    -status-background-colour: -colour-title;
    /*-status-border-colour:n derive(#1d1d1d, 30%);*/
    -status-border-colour: transparent;
    -text-colour: white;

    -font-mono: "Courier New";
    -fx-font-family: "Courier New", sans-serif;

    -progress-bar-overbudget: #fe5f55;
    -progress-bar-nearbudget: #ffb55a;
    -progress-bar-halfbudget: #cde460;
    -progress-bar-inbudget: #6ecd8e;

}

.list-view {
    -fx-background-color: -colour-bgfill;
}

.list-cell {
    -fx-background-color: transparent;
}


.list-cell .label {
    -fx-text-fill: black;
}

.pane-with-border {
    -fx-background-color: -colour-title;
}

.status-bar {
    -fx-background-color: -status-background-colour;
}

.result-display {
    -fx-background-color: -colour-result;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

.status-bar .label {
    -fx-font-family: -font-mono;
    -fx-text-fill: -text-colour;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: -status-background-colour;
    -fx-border-color: -status-border-colour;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -text-colour;
}

.context-menu {
    -fx-background-color: -status-background-colour;
}

.context-menu .label {
    -fx-text-fill: -text-colour;
    -fx-font-size: 10px;
}

.menu-bar {
    -fx-background-color: -status-background-colour;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: -font-mono;
    -fx-text-fill: -text-colour;
    -fx-opacity: 0.9;
}

.placeholder {
    -fx-background-color: -colour-bgfill;
}

.placeholder .label{
    -fx-font-family: -font-mono;
    -fx-font-size: 20px;
}

#titlePlaceHolder {
    -fx-background-color: -colour-title;
}

#titlePlaceHolder .label {
    -fx-text-fill: -text-colour;
    -fx-font-family: -font-mono;
    -fx-padding: 10;
}

/*
 * Metro style Push Button
 * Author: Pedro 5Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

.scroll-bar {
    -fx-max-width: 0;
    -fx-pref-width: 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    /*-fx-shape: " ";*/
    -fx-fill: transparent;
}

#budgetCardPane {
    -fx-background-color: #ac9eb8;
    -fx-padding: 10;
}

.progress-bar > .track {
    -fx-background-color: #7f7a82;
}

.progress-bar .bar {
    -fx-background-color: -progress-bar-colour;
    -fx-background-insets: 0;
}

.command-box {
    -fx-background-color: -colour-title;
}

#expenseCardPane {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(31, 31, 31, 0.37), 10, .01, 1, 5)
}

#expenseCardPane #clip {
    -fx-fill: -colour-category;
}

#expenseCardPane .label {
    -fx-font-family: -font-mono;
    -fx-font-size: 16px;
}

#expenseCardPane #index {
    -fx-text-fill: -colour-index;
}

#expenseCardPane #price {
    -fx-font-family: -font-mono;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: -colour-price;
    -fx-padding: 0 5 0 0;
}

#eventCardPane {
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 10;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(31, 31, 31, 0.37), 10, .01, 1, 5)
}

#eventCardPane #clip {
    -fx-fill: -colour-category;
}

#eventCardPane .label {
    -fx-font-family: -font-mono;
    -fx-font-size: 16px;
}

#eventCardPane #index {
    -fx-text-fill: -colour-index;
}

#eventCardPane #price {
    -fx-font-family: -font-mono;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: -colour-price;
    -fx-padding: 0 5 0 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #ebdff5;
    -fx-font-family: -font-mono;
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #expenseListPanel, #eventListPanel, #expenseWebpage, #eventWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: -colour-result;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
