.error {
    -fx-text-fill: #d06651; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #ffffff;
}

.list-cell:odd {
    -fx-background-color: #d6d6d6;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:selected {
    -fx-background-color: #0894ff;
}

.tooltip-text {
    -fx-text-fill: white;
}
