
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background-color: derive(#c1c1c1, 30%);

}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: #000000;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: #000000;
}

.label-highlighted {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #3e7b91;
    -fx-opacity: 1;
}

.label-unhighlighted {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.separator *.line {
    -fx-border-color: #c1c1c1;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}
