
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

 //Style of each column header's label  in the tableView
.table-view .column-header-background .label{
     -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-size:15px;
}

.table-view .table-cell {
    -fx-font-weight:bold;
    -fx-font-size:15px;
}
