
.error {
    -fx-text-fill: #eb4d4b !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #ffffff;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.chart-content {
    -fx-padding: 0 0 0 10;
}

.default-color0.chart-pie { -fx-pie-color: #eb4d4b; }
.default-color1.chart-pie { -fx-pie-color: #6ab04c; }

.chart-pie-label-line {
    -fx-stroke: #30336b;
    -fx-fill: #30336b;
}

.chart-pie-label {
    -fx-fill: #30336b;
    -fx-font-size: 1em;
}
