.background {
    -fx-background-color: derive(#1d1d1d, 20%);
    /*-fx-background-color: derive(#0d4178, 20%);*/
    background-color: #1d1d1d;  /* Used in the default.html file */
}

#leftAnchorPane{
    -fx-background-color: derive(#1d1d1d, 20%);
}

#rightAnchorPane{
    -fx-background-color: derive(#1d1d1d, 20%);
}

#eventListView {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#personListView {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#eventDescription{
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-control-inner-background:#80a4e8;
    -fx-text-fill: #4104bd;
    -fx-highlight-fill: #80a4e8;
    -fx-highlight-text-fill: #f0e051;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: linear-gradient(to right, #292E49 0%, #536976 100%);
}

.list-cell:filled:odd {
    -fx-background-color: linear-gradient(to right, #536976 0%, #292E49 100%);
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: white;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
