.root {
    -fx-background: white;
}

.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI";
}

.menu {
    -fx-background-color: white;
}

.menu .label {
    -fx-text-fill: black;
}

.menu:hover {
    -fx-background-color: #eceff1;
}

.context-menu {
    -fx-background-color: white;
    -fx-padding: 3px 0;
}

.menu-item {
    -fx-background-color: white;
}

.menu-item:focused {
    -fx-background-color: #eceff1;
}

#commandBoxPlaceholder{
    -fx-padding: 10px;
}

#commandTextField {
    -fx-background-color: white;
    -fx-font-family: "monospace";
    -fx-width
}

#resultDisplayPlaceholder {
    -fx-background-color: #263238;
}

#resultDisplay {
    -fx-background-insets: 0;
    -fx-background-color: #263238;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI";
}

#resultDisplay .content {
    -fx-background-color: #263238;
    -fx-background-radius: 0;
    -fx-padding: 15px;
}

#resultDisplay:focused .content {
    -fx-background-color: #263238;
    -fx-background-radius: 0;
    -fx-padding: 15px;
}

.tab-pane {
    -fx-tab-min-width: 100px;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-padding: 5px 10px;
}

.tab-pane .tab:selected {
    -fx-border-color: #80d8ff;
}

.tab-pane .tab:focused .label {
    -fx-background-color: transparent
}

.tab-pane .tab .tab-label {
    -fx-alignment: center;
}

.content-pane {
    -fx-background-color: transparent;
    -fx:padding: 10px;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: white;
    -fx-background-insets: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0px;
}

.list-view .scroll-bar .thumb {
   -fx-background-color: #cfd8dc;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:empty {
    -fx-background: transparent;
}

.list-cell:filled #cardPane {
    -fx-padding: 15px;
    -fx-background-color: white;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #cfd8dc;
}

.list-cell:filled:selected #cardPane {
    -fx-background-color: #eceff1;
}

.list-cell:filled:selected .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.cell_small_label {
    -fx-font-size: 10px;
}
