.background {
    -fx-background-color: derive(#d1d1d1, 20%);
    background-color: #c7c7c7; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #aaaaaa;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.label-header2 {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.label-unhighlighted {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI SemiBold";
    -fx-opacity: 0.5;
    -fx-padding: 20 20 20 0;
    -fx-text-fill: rgb(0, 0, 0);
}

.label-highlighted {
     -fx-font-size: 11pt;
     -fx-font-family: "Segoe UI SemiBold";
     -fx-opacity: 0.9;
     -fx-padding: 20 20 20 0;
     -fx-text-fill: rgb(145, 11, 17);
 }

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.small-text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #e2e2e2;
    -fx-control-inner-background: #e2e2e2;
    -fx-background-color: #e2e2e2;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#e2e2e2, 20%);
    -fx-border-color: transparent transparent transparent #b2b2b2;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#e2e2e2, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#e2e2e2, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even, #cardPaneEven {
    -fx-background-color: #b6bdc0;
}

.list-cell:filled:odd, #cardPaneOddd {
    -fx-background-color: #9aa3a7;
}

.list-cell:filled:selected {
    -fx-background-color: #7384a0;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #365b6e;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: #000000;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.stack-pane {
     -fx-background-color: derive(#e2e2e2, 20%);
}

.scroll-pane {
    -fx-background: derive(#e2e2e2, 20%);
    -fx-border-color: derive(#e2e2e2, 10%);
}

.pane-with-border {
     -fx-background-color: derive(#e2e2e2, 20%);
     -fx-border-color: derive(#e2e2e2, 10%);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#e2e2e2, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 12.5pt;
    -fx-text-fill: #000000;
    -fx-underline: true;
}

.timer-display {
    -fx-background-color: transparent;
    -fx-font-family: "monospace";
    -fx-font-size: 11.7pt;
    -fx-text-fill: #712224;
}

.hint-display {
    -fx-background-color: transparent;
    -fx-font-family: "monospace";
    -fx-font-size: 11.7pt;
    -fx-text-fill: indigo;
}

.hint-display .text {
    -fx-underline: true;
}

.hint-label {
    -fx-font-family: "monospace";
    -fx-font-size: 20pt;
    -fx-text-fill: maroon;
}

.question-label {
    -fx-font-family: "Times New Roman";
    -fx-underline: true;
    -fx-font-size: 24pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: #ffffff !important;
}

.result-display .label {
    -fx-text-fill: #ffffff !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#e2e2e2, 30%);
    -fx-border-color: derive(#e2e2e2, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #000000;
}

.grid-pane {
    -fx-background-color: derive(#e2e2e2, 30%);
    -fx-border-color: derive(#e2e2e2, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#e2e2e2, 30%);
}

.context-menu {
    -fx-background-color: derive(#e2e2e2, 50%);
}

.context-menu .label {
    -fx-text-fill: #000000;
}

.menu-bar {
    -fx-background-color: derive(#e2e2e2, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #ffffff;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #e2e2e2;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #272727;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #000000;
  -fx-text-fill: #e2e2e2;
}

.button:focused {
    -fx-border-color: #000000, #000000;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #e2e2e2;
    -fx-text-fill: #000000;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #000000;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #e2e2e2;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #e2e2e2;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#e2e2e2, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #000000;
    -fx-text-fill: #000000;
}

.scroll-bar {
    -fx-background-color: derive(#e2e2e2, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#e2e2e2, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #f70d1a;
}

#commandTextField {
    -fx-background-color: transparent #c7c7c7 transparent #c7c7c7;
    -fx-background-insets: 0;
    -fx-border-color: #c7c7c7 #c7c7c7 #000000 #c7c7c7;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #000000;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, #ffffff, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #c7c7c7, transparent, #c7c7c7;
    -fx-background-radius: 0;
}

#timerText .content {
    -fx-background-color: transparent, #c7c7c7, transparent, #c7c7c7;
    -fx-background-radius: 0;
}

#progress-bar-alert > .track {
    -fx-box-border: red;
    -fx-control-inner-background: #c7c7c7;
}

#progress-bar-alert {
    -fx-accent: crimson;
}

#progress-bar-normal > .track {
    -fx-box-border: red;
    -fx-control-inner-background: #c7c7c7;
}

#progress-bar-normal {
    -fx-accent: forestgreen;
}

/*combo box*/
.combo-box .list-cell {
    -fx-background: #b3b3b3;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}


.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: #000000;
}

.combo-box-base {
    -fx-background-color: #b8b8b8, #b8b8b8, #b8b8b8, #b8b8b8;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.tooltip {
    -fx-font-size: 10pt;
}

#highlighted {
    -fx-text-fill: #0900f5;
}

#slogan {
    -fx-text-fill: #131313;
}

#avatar-shadow {
    -fx-fill: #cacaca;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: #000000;
    -fx-background-color: #6c6e9e;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#timer-alert-style .content {
    -fx-background-color: transparent, #c7c7c7, transparent, #c7c7c7;
    -fx-background-radius: 0;
}

#timer-alert-style {
    -fx-text-fill: darkred;
}

#timer-normal-style .content {
    -fx-background-color: transparent, #c7c7c7, transparent, #c7c7c7;
    -fx-background-radius: 0;
}

#timer-normal-style {
    -fx-text-fill: black;
}
