.background {
    -fx-background-color: white
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: Black;
}

.cell_big_label_amt {
    -fx-font-size: 16px;
    -fx-text-fill: Black;
    -fx-font-weight: bold;
}

.cell_small_label {
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.expense_card {
    -fx-text-fill: LightSalmon;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent LightSalmon;
}

.income_card {
    -fx-text-fill: MediumSeaGreen;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent MediumSeaGreen;
}

.wish_card {
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent MediumPurple;
}

.autoexp_card {
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent Coral;
}

.reminder_card {
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent GoldenRod;
}

.budget_card {
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent transparent SteelBlue;
}

.stack-pane {
     -fx-background-color: White;
}

.pane-with-border {
     -fx-background-color: White;
     /*-fx-border-radius: 10px;*/
         /*-fx-border-color: Grey;*/
         /*-fx-border-width: 1px;*/
}

.side-panel-placeholder {
    -fx-background-color: White;
}

.side-panel {
    -fx-background-color: White;
    -fx-border-color: Grey;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.side-panel-income {
    -fx-background-color: White;
    -fx-border-color: #3cb371;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.side-panel-expense {
    -fx-background-color: White;
    -fx-border-color: Coral;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.side-panel-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: Black;
}

.side-panel-listview {
    -fx-background-color: WhiteSmoke;

}

.side-panel-listcard {
    -fx-background-color: WhiteSmoke;
    -fx-text-fill: Black;

}

.stats-graphic-title {
    -fx-text-fill: black;
    -fx-font-size: 20px
}

.stats-bar-text {
    -fx-side-shelf-fill: black;
}

.stats-pie-text {
    -fx-text-fill: black;
}

.status-bar {
    -fx-background-color: IndianRed;
}

.status-bar .label {
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-font-size: 10px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.result-display-text-area {
    -fx-background-color: White;
    -fx-font-size: 13pt;
    -fx-text-fill: Black;
    -fx-border-color: Grey;
    -fx-border-width: 1px;
}

.result-display .label {
    -fx-text-fill: black !important;
}

#resultDisplay .content {
    -fx-background-color: white;
    -fx-background-radius: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: Black;
}

#commandTextField {
    -fx-background-color: White;
    -fx-background-insets: 0;
    -fx-border-color: grey;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: White;
}

.scroll-bar .thumb {
     -fx-background-color: IndianRed;
     -fx-background-insets: 3;
 }

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.labelCategoryIncome {
    -fx-text-fill: white;
    -fx-background-color: MediumSeaGreen;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.labelCategoryExpense {
    -fx-text-fill: white;
    -fx-background-color: IndianRed;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.menu-bar {
    -fx-background-color: IndianRed;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-text-fill: Black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
 /*
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    /*-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}*/
