
.chart-pie {
    -fx-border-color: derive(-fx-pie-color, -40%);
    -fx-border-width: 3px;
}

.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.8em;
}

.chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 1em;
}

.chart-legend {
    -fx-background-color: #fafad2;
}
