
.chart-pie {
    -fx-border-color: derive(-fx-pie-color, -40%);
    -fx-border-width: 1px;
}

.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-title {
  -fx-text-fill: #ffffff;
  -fx-font-size: 18px;
  -fx-padding: -50px;
}

.chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 1em;
}

.chart-legend {
    -fx-background-color: #fafad2;
}

.chart-legend-item {
    -fx-font-size: 10px;
}
