.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.5em;
}

.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label {
    -fx-fill: #ffffff;
    -fx-font-size: 0.5em;
}
.chart-legend {
   -fx-background-color:  #fafad2;
   -fx-stroke: #daa520;
}
