#SyntaxHighlightingTextField {
    -fx-font-size: 20px;
    -fx-font-family: "Droid Sans Mono";
}

.error {
    -fx-fill: black !important;
    -rtfx-background-color: rgba(255, 0, 0, 0.51);
}

.string {
    -fx-fill: black;
}

.command-word {
    -fx-fill: #710071;
    -fx-font-weight: bold;
}

.placeholder {
    -fx-fill: black;
    -rtfx-background-color: lightgrey;
}

.prefix0 {
    -fx-font-weight: bold;

    -fx-fill: #c978cc;
}

.arg0 {
    -fx-fill: #c978cc;
}

.prefix1 {
    -fx-font-weight: bold;

    -fx-fill: #005f8e;
}

.arg1 {
    -fx-fill: #005f8e;
}

.prefix2 {
    -fx-font-weight: bold;

    -fx-fill: #0c910b;
}

.arg2 {
    -fx-fill: #0c910b;
}

.prefix3 {
    -fx-font-weight: bold;

    -fx-fill: #a24400;
}

.arg3 {
    -fx-fill: #a24400;
}
