.background {
    -fx-background-color: derive(#white, 20%);
    background-color: #white; /* Used in the default.html file */
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected {
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #00A5F0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(white, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #f2f2f2;
}

.list-cell:filled:odd {
    -fx-background-color: #d9d9d9;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: white;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.event_label {
    -fx-font-family: "Arial Black";
    -fx-font-size: 8px;
    -fx-text-fill: blue !important;
}

.stack-pane {
    -fx-background-color: derive(white, 20%);
}

.pane-with-border {
    -fx-background-color: derive(whitesmoke, 20%);
    -fx-border-color: derive(#1d1d1d, 10%);
    -fx-border-top-width: 1px;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: white !important;
    -fx-font-family: "Comic Sans MS" !important;
}

.dialog-container {
    -fx-background-color: white;
}

.grid-pane {
    -fx-background-color: derive(white, 30%);
    -fx-border-color: derive(white, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(white, 30%);
}

.scroll-bar {
    -fx-background-color: derive(grey, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(whitesmoke, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.calendar_pane {
    -fx-background-color:  white;
    -fx-border-style: dashed;
    -fx-border-width: .5;
    -fx-border-color: gray;
}

.calendar_label {
    -fx-text-fill: black;
}

.elisa_dialog {
    -fx-background-color: #00A5F0;
    -fx-background-radius: 20, 20, 20, 20;
}

.user_dialog {
    -fx-background-color: #4d4d4d;
    -fx-background-radius: 20, 20, 20, 20;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: white white white white;
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 black #383838;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#resultDisplay .content {
    -fx-background-color: transparent, #383838, transparent, #383838;
    -fx-background-radius: 0;
}
